# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Determine size of a file or total size of a directory
function fs() {
        if du -b /dev/null > /dev/null 2>&1; then
                local arg=-sbh
        else
                local arg=-sh
        fi
        if [[ -n "$@" ]]; then
                du $arg -- "$@"
        else
                du $arg .[^.]* *
        fi
}

# Compare original and gzipped file size
function gz() {
        local origsize=$(wc -c < "$1")
        local gzipsize=$(gzip -c "$1" | wc -c)
        local ratio=$(echo "$gzipsize * 100/ $origsize" | bc -l)
        printf "orig: %d bytes\n" "$origsize"
        printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}

# Get a character’s Unicode code point
function codepoint() {
        perl -e "use utf8; print sprintf('U+%04X', ord(\"$@\"))"
        # print a newline unless we’re piping the output to another program
        if [ -t 1 ]; then
                echo # newline
        fi
}

# Delete .DS_Store and .sass-cache from folder and zip it
# e.g.: zip -r foo.zip foo -x "*.DS_Store"
# -9 compress better
function zipit() {
	zip -r "$@".zip "$@" -x "*.DS_Store" -x "*.codekit-cache*" -x "*.sass-cache*" -x "*.codekit" -x "*.git*" -x "*.rb" -9
}

# Show Spotlight
function spotshow() {
	sudo chmod 755 /System/Library/CoreServices/Search.bundle/Contents/MacOS/Search
	killall SystemUIServer
}

# Hide Spotlight
function spothide() {
	sudo chmod 600 /System/Library/CoreServices/Search.bundle/Contents/MacOS/Search
	killall SystemUIServer
}

# Codesniffer
function cs() {
    if [ "$@" ]; then
        phpcs -p -s -v -n "$@" --standard=wp --extensions=php
    else
        phpcs -p -s -v -n . --standard=wp --extensions=php
    fi
}

function cp() {
    if [ "$@" ]; then
        phpcs -p . "$@"  --standard=PHPCompatibility --extensions=php
    else
        phpcs -p . --standard=PHPCompatibility --extensions=php
    fi
}

# Convert TTF to WOFF2
function woff2() {
	if [ -n "$1" ]; then
		filename=$(basename "$1")
        #curl --data-binary "@$1" -o "$HOME/Desktop/${filename%.*}.woff2" -H "Content-Type: font/ttf" -H "Accept: font/woff2" -X POST http://188.226.250.76
		curl --data-binary "@$1" -o "${PWD}/${filename%.*}.woff2" -H "Content-Type: font/ttf" -H "Accept: font/woff2" -X POST http://188.226.250.76
	fi
}
